:root{
  --primario: #9C27B0;
  --primarioOscuro: #89119D;
  --secundario: #FFCE00;
  --secundarioOscuro: rgb(233, 187, 2);
  --blanco: #FFF;
  --negro: #000;

  --fuentePrincipal: 'Staatliches', cursive;
}
header{
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
}
@media (min-width: 768px) {

header {
  grid-column: 1 / span 2;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  }   
}


@media (min-width: 768px) {
  .container {
    border: 2px solid black;
    margin: 0 auto;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    max-width: 120rem;
    align-content: center;
  }
}

/* Estilos para la sección de información */
.info {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  margin-bottom: 2em;

}

.left {
  border: 2px solid black;
  grid-column: 1 / span 1;
  padding: 1em;
  background-color: rgb(38, 147, 198);
  
 
}

.left h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.left ul {
  margin: 0;
  padding: 0;
}

.left ul li {
  margin-bottom: 0.5em;
  
}

img {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
  margin-bottom: 1em;
}

.right {
  border: 2px solid black;
  grid-column: 2 / span 1;
  padding: 1em;
  background-color: beige;
}

/* Estilos para la sección de habilidades */
.skills {
  grid-column: 1 / span 2;
  margin-bottom: 2em;
}

.skills h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.skill-bar {
  height: 20px;
  border-radius: 10px;
  background-color: #eee;
  margin-bottom: 0.5em;
  position: relative;
}

.skill-bar .skill-level {
  height: 100%;
  background-color: #333;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.skill-bar .skill-level span {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  font-size: 0.8em;
}

/* Estilos para las secciones de experiencia laboral y formación */
.section {
  grid-column: 1 / span 2;
  margin-bottom: 2em;
}

.section-header {
  margin-bottom: 0.5em;
}

.section-body {
  margin-left: 1em;
}

.section-body ul {
  margin-left: 2em;
}
@media (min-width: 768px) {
 
footer {
  grid-column: 1 / span 2;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  }

footer p {
  margin-bottom: 0;
  }   
}



